# Ignoriši node_modules jer se instališu unutar containera
node_modules

# Log fajlovi
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment fajlovi
.env
frontend.env

# Docker fajlovi
Dockerfile
.dockerignore

# Build output (dist se pravi u prvom stage-u i kopira u nginx)
dist

# Git i ostalo
.git
.gitignore
